Interface loopback 0 

	descrption LAN-Network

	ip address 192.168.1.1 255.255.255.0

	no shut

Interface f0/0

	descrption WAN-Network

	ip address 202.1.1.1 255.255.255.0

	no shut

 

Tunnel configuration

 

Interface tunnel 0

	description mGRE DMVPN tunnel

	ip address 10.1.1.1 255.255.255.0

	ip nhrp authentication @lpha

	ip nhrp map mutlicast dynamic

	ip nhrp network-id 1

	tunnel source 202.1.1.1

	tunnel mode gre multipoint
	
