Interface lo 0

	description LAN-Network

	ip address 192.168.2.1 255.255.255.0

	no shut

Interface e0/0

	description WAN-Network

	ip address 202.1.1.2 255.255.255.0

	no shut

 

Interface tunnel 0

	description mGRE

	ip address 10.1.1.2 255.255.255.0

	ip nhrp authentication @lpha

	ip nhrp map multicast dynamic

	ip nhrp map 10.1.1.1 202.1.1.1

	ip nhrp map multicast 202.1.1.1

	ip nhrp network-id 1

	ip nhrp nhs 10.1.1.1

	Tunnel source e0/0

	Tunnel mode gre multipoint
